/* * {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 200vh;
    
}
.superMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid red
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Cart-Main {
    display: flex;
    border-bottom: 1px solid rgb(118, 5, 224);
    width: 50%;
    padding-left: 20%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: rgba( 163, 60, 191, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Cart-Main:last-child {
    border-bottom: 1px solid rgb(118, 5, 224);
}
p {
    position: relative;
    left: -12%
}
.img-src {
    margin-left: -180px;
    object-fit: cover;
    max-width: 150px;
    border-radius: 10px;
    min-height: 150px;
    transition: 0.3s ease;
    margin-bottom: 60px;
}
.img-src:hover {
    transform: scale(0.8);
    scale: 1.1;
    cursor: pointer;
}
.cart-price {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    position: relative;
    left: -52%;
}
.btn-main {
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.btn-main button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    border: 1px solid rgb(118, 5, 224);
    border-radius: 50%;
    padding: 10px;
}
.btn-main button:hover {
    color: aqua;
    cursor: pointer;
}
.btn-main h6 {
    margin-right: 12px;
    font-size: 2rem;
    padding-left: 10px;
}
.MainParent-Clear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Parent-Clear {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.Parent-Clear .clearBtn, 
.Parent-Clear .Purchase {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(110, 9, 241, 1);
    color: white;
    border: none;
    cursor: pointer;
}

.Parent-Clear .clearBtn:hover, 
.Parent-Clear .Purchase:hover {
    background-color: rgba(110, 9, 241, 0.7);

} */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.Main-Clone {
    width: 100%;
    height: 300vh;
}
.Nav-Parent {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 25px
}
.Nav-li {
    width: 30%;
    margin-right: 30px;
}
.Nav-li ul {
    display: flex;
    gap: 35px;
}
ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}
ul li a:hover{
    cursor: pointer;
    opacity: 1;
    color: white;
    transition: 0.2s ease-in-out;
}
.Nav-Btn {
    display: flex;
    gap: 10px;
    margin-left: 60px;
}
.Nav-Btn button{
    background-color: transparent;
    padding: 8px 25px;
    cursor: pointer;
    color: white;
}
.Nav-Btn button:first-child {
    color: white;
    opacity: 0.7;
    background-color: transparent;
    border: transparent;
}
.Nav-Btn button:first-child:hover{
    opacity: 1;
}
.Nav-Btn button:last-child {
    background-color: rgb(36, 36, 168);
    border-radius: 20px;
    border: transparent;
}
.Nav-Btn button:last-child:hover {
    background-color: rgb(26, 26, 202);
}
#mainPage {
    border: 1px solid red;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px 0 0 70px;
    width: 30%;
}
.intro-btn {
    margin-left: 160px;
}
.intro-text{
    margin-top: 80px;
}
.intro-btn button {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}
.intro-btn button:hover{
    background-color: rgb(26, 26, 202);
    transition: 0.3s ease-in-out;
    color: white;
}
.photo-intro {
    position: absolute;
    margin-left: 350px;
}
.photo-intro img{
    padding: 10px;
    margin-top: 50px;
    object-fit: cover;
    width: 650px;
    height: 500px;
}
.dark-btn {
    margin-right: -40px;
    margin-left: 50px;
}
.dark-btn button{
    background-color: burlywood;
    opacity: 0.9;
    border: transparent;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.dark-btn button:hover {
    opacity: 1;
}
.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

}

.glitch {
   position: relative;
   animation: none;
   font-size: 45px;
   padding-bottom: 15px;
   font-weight: 700;
   line-height: 1.2;
   color: black;
   letter-spacing: 5px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #0ff;
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #ff00ff;
   z-index: -2;
}
.ECommerce-Page {
    width: 100% ;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Middle-Parent {
    border: 1px solid blueviolet;
    height: 90%;
    width: 90%;
    display: grid;
    text-align: center;
    grid-template-columns:repeat(2, 1fr);
}
.Middle-Parent .Items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 200px;
    border: 1px solid violet;
    border-radius: 10px;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
.Items img{
    object-fit: cover;
    width: 200px;
}
.skillsPage {
    width:100%;
    height: 100vh;
    border: 1px solid red;
}
.skillsPage img {
    object-fit: cover;
    width: 100%;
    height: 40;
} */
.main-parent {
    width: 100%;
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-parent {
    border-radius: 6px;
background: #f5f5f5;
box-shadow:  8px 8px 16px #dfdfdf,
             -8px -8px 16px #ffffff;
    width: 40%;
    height: 75%;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
li {
    cursor: pointer;
    opacity: 0.7;
}
ul li:first-child {
    position: relative;
    display: inline-block;
    opacity: 1;
}
  .input-parent {
    height: 325px;
    display: flex;
    align-items: center;
  }
  .input-project {
    padding: 50px 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-project {
    display: flex;
    flex-direction: column;
    gap: 16px
  }
  .input-project input {
    width: 300px;
    height:40px;
  }
  .input-project input:last-child {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: transparent;
    border-radius: 2px;
    font-size: 1.3rem;
    color: white;
}
.input-project input:last-child:hover {
    cursor: pointer;
    background: none;
    background-color: black;
    border: 1px solid linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.checkbox {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
    gap: 15px;
}
.checkbox #check {
    width: 50px;
    cursor: pointer;
}
li button:focus{
    color: white;
    border-bottom: 5px solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
li:active {
    color: white;
}
